<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link href="/CSS/style.css" rel="stylesheet" type="text/css" >
	</head>
	<body>
		<form method="post">
			<table border="0" width="100%">
				<tr height="15%" bgcolor="#23274C">
					<td width="20%"></td>
					<td valign="top"> <h2> <b> <font color="#CACBD5">Hospital </font><font color="white">Management System</font> </b> </h2>
						<td width="30%" valign="top" align="right">
							 <br/><br/><br/><br/>
							<a href="/logout"><font color="red">logout</font></a><br/>
						</td>
					</td>
					<td width="20%"></td>
				</tr>
			</table>
			<table border="0" width="100%">
				<tr height="7" bgcolor="#616174">
					<td width="20%"></td>
					<td width="40" height="40">
						<ul id="ul">
							<li id="q"><a class="active" href="/user">Home</a></li>
							<li id="q"><a class="active" href="/user/abouthospital">About Hospital</a></li>
							<li id="q"><a class="active" href="/user/news">News</a></li>
							<li id="q"><a class="active" href="/user/department">Departmant</a></li>
							<li id="q"><a class="active" href="/user/noticebord">Notice Board</a></li>
							<li id="q"><a class="active" href="/user/narses">Nurses</a></li>
							<li id="q"><a class="active" href="/user/doctorlist">Doctor List</a></li>
							<li id="q"><a class="active" href="/user/gallery">Gallery</a></li>
							<li id="q"><a class="active" href="/user/contactus">Contact us</a></li>
						</ul>
					</td>
					<td width="20%"></td>
				</tr>
			</table>
			<table border="0" width="100%">
				<td width="20%"></td>
				<td>
					<table border="0" width="100%">
						<!--ei khane code krte hobe -->
						<h1>About Hospital</h1>
						<hr>
						<p>The premier multispecialty tertiary care hospital of India has been acknowledged
						 globally as centre of medical excellence. The kind of confidence, trust it has developed on 
						 strong foundation of the state-of-the-art facilities, best medical expertise, research, 
						 education and charitable endeavors; that today it serves patients from all walks of life 
						 – national and international. Based on a powerful Sanskrit inspiration, “Sarvetra 
						 Sukhina:Santu, Sarve SantuNiramaya:” which means “Let all be blissful, Let all stay 
						 healthy”, the hospital has focused its operation on providing quality care with a human 
						 touch; which truly reflects the essence of its motto “More than Healthcare, Human Care”.</p>
						</br>
						<p>The hospital is located in the heart of Mumbai; and is very close to the domestic and 
							the international airport.The hospital started functioning in 1997 with 10 beds and 
							initially had only 22 doctors. Today, it boasts of 323 beds with one of the largest 
							Intensive Care Units (ICUs), most advanced 12 Operation Theaters, more than 300 consultants 
							and manpower of nearly 1,800.Hospital attends to around 300 In-patients and Out-patients 
							daily.</p>
						
					</table>
				</td>
				<td width="20%"></td>
			</table>
			<br><br>
			<footer>
				<table border="0" width="100%">
					<tr>
						<td width="20%"></td>
						<td>
							
							&copy; Copyright 2019 Hospital Management System
	
						</td>
						<td width="20%"></td>
					</tr>
				</table>
				</footer>
		</form>
	</body>
</html>