<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link href="/CSS/style.css" rel="stylesheet" type="text/css" >
		<link rel="stylesheet" href="/CSS/style1.css" type="text/css">
	</head>
	<body>
		<form method="post">
			<table border="0" width="100%">
				<tr height="15%" bgcolor="#23274C">
					<td width="20%"></td>
					<td valign="top"> <h2> <b> <font color="#CACBD5">Hospital </font><font color="white">Management System</font> </b> </h2>
						<td width="30%" valign="top" align="right">
							 <br/><br/><br/>
							 <font color="white">Welcome, <%= user.firstname %> <%= user.lastname %> </font> <br><a href="/logout"><font color="red">logout</font></a><br/>
						</td>
					</td>
					<td width="20%"></td>
				</tr>
			</table>
			<table border="0" width="100%">
				<tr height="7" bgcolor="#616174">
					<td width="20%"></td>
					<td width="40" height="40">
						<ul id="ul">
							<li id="q"><a class="active" href="/user">Home</a></li>
							<li id="q"><a class="active" href="/user/abouthospital">About Hospital</a></li>
							<li id="q"><a class="active" href="/user/news">News</a></li>
							<li id="q"><a class="active" href="/user/department">Departmant</a></li>
							<li id="q"><a class="active" href="/user/noticebord">Notice Board</a></li>
							<li id="q"><a class="active" href="/user/narses">Nurses</a></li>
							<li id="q"><a class="active" href="/user/gallery">Gallery</a></li>
							<li id="q"><a class="active" href="/user/contactus">Contact us</a></li>
						</ul>
					</td>
					<td width="20%"></td>
				</tr>
			</table>
			<table border="0" width="100%">
				<td width="20%"></td>
				<td>
					<table border="0" width="100%">
						<!--ei khane code krte hobe -->
						<tr height="7" bgcolor="#616174">
							<td width="20%"></td>
							<td width="40" hight="40">
								<table width="100%">
									<tr>
										<td width="40"></td>
										<td width='40'><input type="text" name="search">
										<input type="submit" name="submit" value="submit"></td>
										<td width="20"></td>
									</tr>
								</table>
							</td>
							<td width="20%"></td>
						</tr>
						<tr>
							<td width="20%"></td>
							<td width="40%" >
								<div class="main">
									<div class="left-part">
										<img src="../uploads/index.jpg" alt="">
										<h1>this is headline</h1>
										<p>this is paragraph.
											A paragraph is a series of related sentences developing a central 
											idea, called the topic. Try to think about paragraphs in terms of 
											thematic unity: a paragraph is a sentence or a group of sentences 
											that supports one central, unified idea. Paragraphs add one idea at 
											a time to your broader argument.</p>
										</div>
										<div class="middle-part">
											<img src="../uploads/images.jpg" alt="">
											<h1>this is headline</h1>
											<p>this is paragraph.
												A paragraph is a series of related sentences developing a central 
												idea, called the topic. Try to think about paragraphs in terms of 
												thematic unity: a paragraph is a sentence or a group of sentences 
												that supports one central, unified idea. Paragraphs add one idea at 
												a time to your broader argument.</p>
										</div>
										<div class="right-part">
											<img src="../uploads/index1.jpg" alt="">
											<h1>this is headline</h1>
											<p>this is paragraph.
												A paragraph is a series of related sentences developing a central 
												idea, called the topic. Try to think about paragraphs in terms of 
												thematic unity: a paragraph is a sentence or a group of sentences 
												that supports one central, unified idea. Paragraphs add one idea at 
												a time to your broader argument.</p>
										</div>
									</div>
								</td>
								<td width="20%"></td>
							</tr>
							<tr>
								<td width='20%'></td>
								<td width='40%'>
									<table border='1' width='100%'>
										<tr height='50%'>
											<td>
												<tr>
													<td><img src="../uploads/index1.jpg" alt=""></td>
												</tr>
												<tr>
													<td>this is img</td>
												</tr>
												<tr>
													<td>this is img</td>
													<td>this is img</td>
												</tr>
											</td>
											<td>
												<tr>
													<td><img src="../uploads/index1.jpg" alt=""></td>
												</tr>
												<tr>
													<td>this is img</td>
												</tr>
												<tr>
													<td>this is img</td>
													<td>this is img</td>
												</tr>
											</td>
											<td>
												<tr>
													<td><img src="../uploads/index1.jpg" alt=""></td>
												</tr>
												<tr>
													<td>this is img</td>
												</tr>
												<tr>
													<td>this is img</td>
													<td>this is img</td>
												</tr>
											</td>
										</tr>
									</table>
								</td>
								<td width='20'></td>
							</tr>
					</table>
				</td>
				<td width="20%"></td>
			</table>
			<hr size="3" color="black"/>
			<table border="0" width="100%">
				<tr>
					<td width="20%"></td>
					<td width="35%">
						<h2> <b> About </b> </h2>
						<!--<ul type="circle">
							<li> <a href="app/others/about.php"><font color="#de312d">About OpenCourseWare </font> </a> </li>
							<li> <a href="app/others/help.php"><font color="#de312d">Help & FAQs </font> </a> </li>
							<li> <a href="app/others/contact.php"><font color="#de312d">Contact Us </font> </a> </li>
							<li> <a href="app/others/privacy.php"><font color="#de312d">Privacy & Terms of Use </font> </a> </li>
						</ul>-->
						<vr>
					</td>
					<td width="25%" valign="top">
					</td>
					<td width="20%"></td>
				</tr>
				<tr>
					<td width="20%"></td>
					<td colspan="2">
						<hr>
					</td>
					<td width="20%"></td>
				</tr>
			</table>
		</form>
	</body>
</html>