<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link href="/CSS/style.css" rel="stylesheet" type="text/css" >
	</head>
	<body>
		<form method="post">
			<table border="0" width="100%">
				<tr height="15%" bgcolor="#23274C">
					<td width="20%"></td>
					<td valign="top"> <h2> <b> <font color="#CACBD5">Hospital </font><font color="white">Management System</font> </b> </h2>
						<td width="30%" valign="top" align="right">
							 <br/><br/><br/></br>
							 <a href="/logout"><font color="red">logout</font></a><br/>
						</td>
					</td>
					<td width="20%"></td>
				</tr>
			</table>
			<table border="0" width="100%">
				<tr height="7" bgcolor="#616174">
					<td width="20%"></td>
					<td width="40" height="40">
						<ul id="ul">
							<li id="q"><a class="active" href="/user">Home</a></li>
							<li id="q"><a class="active" href="/user/abouthospital">About Hospital</a></li>
							<li id="q"><a class="active" href="/user/news">News</a></li>
							<li id="q"><a class="active" href="/user/department">Departmant</a></li>
							<li id="q"><a class="active" href="/user/noticebord">Notice Board</a></li>
							<li id="q"><a class="active" href="/user/narses">Nurses</a></li>
							<li id="q"><a class="active" href="/user/doctorlist">Doctor List</a></li>
							<li id="q"><a class="active" href="/user/gallery">Gallery</a></li>
							<li id="q"><a class="active" href="/user/contactus">Contact us</a></li>
						</ul>
					</td>
					<td width="20%"></td>
				</tr>
			</table>
			<table border="0" width="100%">
				<td width="20%"></td>
				<td>
					<table border="0" width="100%">
						<h1>++ Recruitment Notice ++</h1>
						<hr>
						<h1>++ Job Application Form ++</h1>
						<hr>
						<h1>++ Recruitment Notice ++</h1>
						<hr>
						<h1>++ Job Application Form ++</h1>
						<hr>
						<h1>++ Recruitment Notice ++</h1>
						<hr>
					</table>
				</td>
				<td width="20%"></td>
			</table>
			<br><br>
			<footer>
			<table border="0" width="100%">
				<tr>
					<td width="20%"></td>
					<td>
						
						&copy; Copyright 2019 Hospital Management System

					</td>
					<td width="20%"></td>
				</tr>
			</table>
			</footer>
		</form>
	</body>
</html>